In [30]:
pip install nselib

Requirement already satisfied: nselib in /opt/anaconda3/lib/python3.11/site-packages (0.7)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (from nselib) (2.31.0)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (from nselib) (2.1.4)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.11/site-packages (from nselib) (1.11.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas->nselib) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas->nselib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas->nselib) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas->nselib) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests->nselib) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests->nselib) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests->nselib) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests->nselib) (2024.2.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->nselib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import nselib
from nselib import capital_market

In [32]:
nselib.trading_holiday_calendar()

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,22-Jan-2024,Monday,Special Holiday,1
1,Corporate Bonds,26-Jan-2024,Friday,Republic Day,2
2,Corporate Bonds,19-Feb-2024,Monday,Chatrapati Shivaji Maharaj Jayanti,3
3,Corporate Bonds,08-Mar-2024,Friday,Mahashivratri,4
4,Corporate Bonds,25-Mar-2024,Monday,Holi,5
...,...,...,...,...,...
16,Securities Lending & Borrowing Schemes,12-Oct-2024,Saturday,Dussehra,17
17,Securities Lending & Borrowing Schemes,01-Nov-2024,Friday,Diwali Laxmi Pujan*,18
18,Securities Lending & Borrowing Schemes,02-Nov-2024,Saturday,Diwali-Balipratipada,19
19,Securities Lending & Borrowing Schemes,15-Nov-2024,Friday,Gurunanak Jayanti,20
20,Securities Lending & Borrowing Schemes,25-Dec-2024,Wednesday,Christmas,21

In [33]:
capital_market.bhav_copy_equities('05-05-2024')

KeyError: "None of [Index(['SYMBOL', 'SERIES', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'LAST', 'PREVCLOSE',\n       'TOTTRDQTY', 'TOTTRDVAL', 'TIMESTAMP', 'TOTALTRADES'],\n      dtype='object')] are in the [columns]"

In [34]:
capital_market.bhav_copy_with_delivery('05-05-2024')

,SYMBOL,SERIES,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,PREV_CLOSE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DATE1
0,1018GS2026,GS,110.15,113.00,110.15,112.10,112.92,32,0.04,4,32,100.00,03-May-2024
1,20MICRONS,EQ,172.45,173.15,169.00,170.15,169.25,70886,121.00,2547,41521,58.57,03-May-2024
2,21STCENMGM,BE,52.65,52.65,52.60,52.60,51.65,8544,4.50,30,-,-,03-May-2024
3,360ONE,EQ,778.50,796.35,768.05,791.95,774.05,731424,5739.32,32667,384614,52.58,03-May-2024
4,3IINFOLTD,EQ,38.80,39.35,38.35,38.90,38.80,712713,276.66,4293,391448,54.92,03-May-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,ZOTA,EQ,487.95,492.00,484.55,488.40,485.60,10346,50.43,637,5935,57.37,03-May-2024
2684,ZUARI,EQ,194.20,195.70,189.00,189.40,194.10,161587,309.17,4503,103003,63.74,03-May-2024
2685,ZUARIIND,EQ,345.35,348.00,325.15,327.65,341.80,125261,416.80,6927,81976,65.44,03-May-2024
2686,ZYDUSLIFE,EQ,994.45,999.75,978.30,997.40,988.00,1408142,13939.37,79474,624681,44.36,03-May-2024
2687,ZYDUSWELL,EQ,1671.05,1694.95,1661.75,1670.50,1671.00,26504,445.42,3633,14730,55.58,03-May-2024

In [35]:
capital_market.block_deals_data(period= '1M')

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks,"Ã¯Â»Â¿""Date"""
0,NaN,JINDALSAW,Jindal Saw Limited,CRESTA FUND LTD,SELL,"4,15,000",525.00,-,10-MAY-2024
1,NaN,JINDALSAW,Jindal Saw Limited,ITI MUTUAL FUND(ELSS TAX SAVER FUND),BUY,"15,000",525.00,-,10-MAY-2024
2,NaN,JINDALSAW,Jindal Saw Limited,ITI MUTUAL FUND(ITI VALUE FUND),BUY,"60,000",525.00,-,10-MAY-2024
3,NaN,JINDALSAW,Jindal Saw Limited,ITI MUTUAL FUND(MIDCAP FUND),BUY,"1,40,000",525.00,-,10-MAY-2024
4,NaN,JINDALSAW,Jindal Saw Limited,SOCIETE GENERALE,BUY,"2,00,000",525.00,-,10-MAY-2024
...,...,...,...,...,...,...,...,...,...
149,NaN,STARHEALTH,Star Health & Al Ins Co L,UTI MUTUAL FUND,BUY,"1,87,000",535.00,-,23-MAY-2024
150,NaN,LUMAXTECH,Lumax Auto Technologies L,ALBULA INVESTMENT FUND LTD,SELL,"6,06,000",478.00,-,27-MAY-2024
151,NaN,LUMAXTECH,Lumax Auto Technologies L,AMARA PARTNERS GROWTH FUND I,BUY,"6,06,000",478.00,-,27-MAY-2024
152,NaN,HGS,Hinduja Global Sols Ltd,AASIA EXPORTS,SELL,"11,60,000",804.00,-,04-JUN-2024
153,NaN,HGS,Hinduja Global Sols Ltd,HINDUJA GROUP LIMITED,BUY,"11,60,000",804.00,-,04-JUN-2024

In [36]:
capital_market.deliverable_position_data('SBIN',period='1M')

,Symbol,Series,Date,TradedQty,DeliverableQty,%DlyQttoTradedQty,"Ã¯Â»Â¿""Symbol""",PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverÃ¢Â‚Â¹,No.ofTrades
0,NaN,EQ,06-May-2024,NaN,NaN,NaN,SBIN,831.45,835.00,836.00,803.00,809.50,807.80,809.69,"3,52,83,557","28,56,86,03,442.05","4,20,532"
1,NaN,EQ,07-May-2024,NaN,NaN,NaN,SBIN,807.80,812.00,814.65,793.20,803.65,801.90,802.82,"1,67,25,013","13,42,71,69,707.45","3,33,003"
2,NaN,EQ,08-May-2024,NaN,NaN,NaN,SBIN,801.90,802.60,822.00,799.50,811.40,810.80,811.87,"2,79,08,322","22,65,78,96,599.95","4,16,012"
3,NaN,EQ,09-May-2024,NaN,NaN,NaN,SBIN,810.80,811.90,839.65,803.55,820.00,819.80,820.70,"4,92,90,254","40,45,25,25,638.00","7,10,585"
4,NaN,EQ,10-May-2024,NaN,NaN,NaN,SBIN,819.80,827.00,832.05,815.60,816.85,817.35,822.63,"2,05,43,142","16,89,94,81,306.25","3,37,836"
5,NaN,EQ,13-May-2024,NaN,NaN,NaN,SBIN,817.35,819.85,819.85,798.60,808.95,808.80,807.30,"1,53,98,505","12,43,12,53,183.15","3,00,588"
6,NaN,EQ,14-May-2024,NaN,NaN,NaN,SBIN,808.80,813.00,822.40,807.90,817.90,818.20,815.81,"1,09,12,462","8,90,24,78,688.10","2,15,574"
7,NaN,EQ,15-May-2024,NaN,NaN,NaN,SBIN,818.20,821.00,825.30,818.05,820.70,820.30,821.25,"97,55,062","8,01,13,23,408.05","1,84,595"
8,NaN,EQ,16-May-2024,NaN,NaN,NaN,SBIN,820.30,825.30,826.15,797.35,812.30,811.95,810.77,"2,05,36,990","16,65,08,76,495.95","3,98,702"
9,NaN,EQ,17-May-2024,NaN,NaN,NaN,SBIN,811.95,814.50,822.45,811.20,817.35,817.85,817.69,"1,24,92,509","10,21,49,79,481.60","2,38,755"
10,NaN,EQ,18-May-2024,NaN,NaN,NaN,SBIN,817.85,822.00,823.00,819.20,821.50,821.00,820.96,"9,60,453","78,84,96,867.55","18,745"
11,NaN,EQ,21-May-2024,NaN,NaN,NaN,SBIN,821.00,821.00,836.30,819.60,830.00,830.65,830.06,"1,40,37,801","11,65,21,54,522.45","2,99,301"
12,NaN,EQ,22-May-2024,NaN,NaN,NaN,SBIN,830.65,826.55,826.65,813.55,818.75,818.75,819.27,"1,92,39,277","15,76,21,79,196.85","3,03,784"
13,NaN,EQ,23-May-2024,NaN,NaN,NaN,SBIN,818.75,824.70,835.50,822.00,829.85,832.10,830.11,"1,74,97,488","14,52,48,11,082.60","2,97,207"
14,NaN,EQ,24-May-2024,NaN,NaN,NaN,SBIN,832.10,830.00,841.25,827.00,828.00,828.60,835.17,"1,22,52,075","10,23,25,81,868.55","2,36,666"
15,NaN,EQ,27-May-2024,NaN,NaN,NaN,SBIN,828.60,832.60,839.40,823.00,833.35,833.70,833.52,"1,22,95,193","10,24,83,01,213.70","2,19,095"
16,NaN,EQ,28-May-2024,NaN,NaN,NaN,SBIN,833.70,835.70,840.70,823.30,830.80,831.15,832.45,"1,38,18,893","11,50,35,19,499.10","2,06,371"
17,NaN,EQ,29-May-2024,NaN,NaN,NaN,SBIN,831.15,828.40,834.45,819.30,825.00,822.65,825.29,"1,45,18,232","11,98,17,97,386.95","2,43,373"
18,NaN,T0,29-May-2024,NaN,NaN,NaN,SBIN,831.15,826.00,826.00,826.00,826.00,822.65,826.00,1,826.00,1
19,NaN,EQ,30-May-2024,NaN,NaN,NaN,SBIN,822.65,821.40,836.00,819.30,828.90,825.85,828.27,"1,78,18,705","14,75,86,26,273.60","4,38,243"
20,NaN,EQ,31-May-2024,NaN,NaN,NaN,SBIN,825.85,830.70,835.00,817.10,832.25,830.35,827.92,"2,22,67,336","18,43,55,62,035.65","3,13,614"
21,NaN,EQ,03-Jun-2024,NaN,NaN,NaN,SBIN,830.35,863.55,912.00,856.75,909.05,905.65,890.20,"6,42,69,020","57,21,23,26,883.50","12,42,769"
22,NaN,EQ,04-Jun-2024,NaN,NaN,NaN,SBIN,905.65,897.00,897.00,731.95,784.60,775.20,803.85,"12,23,81,193","98,37,57,60,977.65","19,04,773"

In [37]:
capital_market.price_volume_and_deliverable_position_data('SBIN',period = '1M')

/opt/anaconda3/lib/python3.11/site-packages/nselib/capital_market/capital_market_data.py:38: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty,"Ã¯Â»Â¿""Symbol"""
0,NaN,EQ,06-May-2024,831.45,835.00,836.00,803.00,809.50,807.80,809.69,"3,52,83,557","28,56,86,03,442.05","4,20,532","2,01,78,148",57.19,SBIN
1,NaN,EQ,07-May-2024,807.80,812.00,814.65,793.20,803.65,801.90,802.82,"1,67,25,013","13,42,71,69,707.45","3,33,003","78,51,037",46.94,SBIN
2,NaN,EQ,08-May-2024,801.90,802.60,822.00,799.50,811.40,810.80,811.87,"2,79,08,322","22,65,78,96,599.95","4,16,012","1,54,09,013",55.21,SBIN
3,NaN,EQ,09-May-2024,810.80,811.90,839.65,803.55,820.00,819.80,820.70,"4,92,90,254","40,45,25,25,638.00","7,10,585","1,68,59,500",34.20,SBIN
4,NaN,EQ,10-May-2024,819.80,827.00,832.05,815.60,816.85,817.35,822.63,"2,05,43,142","16,89,94,81,306.25","3,37,836","69,22,409",33.70,SBIN
5,NaN,EQ,13-May-2024,817.35,819.85,819.85,798.60,808.95,808.80,807.30,"1,53,98,505","12,43,12,53,183.15","3,00,588","53,05,042",34.45,SBIN
6,NaN,EQ,14-May-2024,808.80,813.00,822.40,807.90,817.90,818.20,815.81,"1,09,12,462","8,90,24,78,688.10","2,15,574","39,08,344",35.82,SBIN
7,NaN,EQ,15-May-2024,818.20,821.00,825.30,818.05,820.70,820.30,821.25,"97,55,062","8,01,13,23,408.05","1,84,595","26,71,170",27.38,SBIN
8,NaN,EQ,16-May-2024,820.30,825.30,826.15,797.35,812.30,811.95,810.77,"2,05,36,990","16,65,08,76,495.95","3,98,702","73,33,149",35.71,SBIN
9,NaN,EQ,17-May-2024,811.95,814.50,822.45,811.20,817.35,817.85,817.69,"1,24,92,509","10,21,49,79,481.60","2,38,755","52,74,836",42.22,SBIN
10,NaN,EQ,18-May-2024,817.85,822.00,823.00,819.20,821.50,821.00,820.96,"9,60,453","78,84,96,867.55","18,745","6,09,834",63.49,SBIN
11,NaN,EQ,21-May-2024,821.00,821.00,836.30,819.60,830.00,830.65,830.06,"1,40,37,801","11,65,21,54,522.45","2,99,301","55,33,304",39.42,SBIN
12,NaN,EQ,22-May-2024,830.65,826.55,826.65,813.55,818.75,818.75,819.27,"1,92,39,277","15,76,21,79,196.85","3,03,784","93,83,288",48.77,SBIN
13,NaN,EQ,23-May-2024,818.75,824.70,835.50,822.00,829.85,832.10,830.11,"1,74,97,488","14,52,48,11,082.60","2,97,207","54,22,183",30.99,SBIN
14,NaN,EQ,24-May-2024,832.10,830.00,841.25,827.00,828.00,828.60,835.17,"1,22,52,075","10,23,25,81,868.55","2,36,666","46,94,848",38.32,SBIN
15,NaN,EQ,27-May-2024,828.60,832.60,839.40,823.00,833.35,833.70,833.52,"1,22,95,193","10,24,83,01,213.70","2,19,095","42,03,176",34.19,SBIN
16,NaN,EQ,28-May-2024,833.70,835.70,840.70,823.30,830.80,831.15,832.45,"1,38,18,893","11,50,35,19,499.10","2,06,371","68,78,029",49.77,SBIN
17,NaN,EQ,29-May-2024,831.15,828.40,834.45,819.30,825.00,822.65,825.29,"1,45,18,232","11,98,17,97,386.95","2,43,373","62,30,239",42.91,SBIN
18,NaN,T0,29-May-2024,831.15,826.00,826.00,826.00,826.00,822.65,826.00,1,826.00,1,1,100.00,SBIN
19,NaN,EQ,30-May-2024,822.65,821.40,836.00,819.30,828.90,825.85,828.27,"1,78,18,705","14,75,86,26,273.60","4,38,243","83,08,344",46.63,SBIN
20,NaN,EQ,31-May-2024,825.85,830.70,835.00,817.10,832.25,830.35,827.92,"2,22,67,336","18,43,55,62,035.65","3,13,614","1,02,55,254",46.06,SBIN
21,NaN,EQ,03-Jun-2024,830.35,863.55,912.00,856.75,909.05,905.65,890.20,"6,42,69,020","57,21,23,26,883.50","12,42,769","2,80,51,367",43.65,SBIN
22,NaN,EQ,04-Jun-2024,905.65,897.00,897.00,731.95,784.60,775.20,803.85,"12,23,81,193","98,37,57,60,977.65","19,04,773","5,09,09,322",41.60,SBIN

In [38]:
capital_market.price_volume_data('SBIN',period='1M')

/opt/anaconda3/lib/python3.11/site-packages/nselib/capital_market/capital_market_data.py:86: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,Turnover,No.ofTrades,"Ã¯Â»Â¿""Symbol""",TurnoverÃ¢Â‚Â¹
0,NaN,EQ,06-May-2024,831.45,835.00,836.00,803.00,809.50,807.80,809.69,"3,52,83,557",NaN,"4,20,532",SBIN,"28,56,86,03,442.05"
1,NaN,EQ,07-May-2024,807.80,812.00,814.65,793.20,803.65,801.90,802.82,"1,67,25,013",NaN,"3,33,003",SBIN,"13,42,71,69,707.45"
2,NaN,EQ,08-May-2024,801.90,802.60,822.00,799.50,811.40,810.80,811.87,"2,79,08,322",NaN,"4,16,012",SBIN,"22,65,78,96,599.95"
3,NaN,EQ,09-May-2024,810.80,811.90,839.65,803.55,820.00,819.80,820.70,"4,92,90,254",NaN,"7,10,585",SBIN,"40,45,25,25,638.00"
4,NaN,EQ,10-May-2024,819.80,827.00,832.05,815.60,816.85,817.35,822.63,"2,05,43,142",NaN,"3,37,836",SBIN,"16,89,94,81,306.25"
5,NaN,EQ,13-May-2024,817.35,819.85,819.85,798.60,808.95,808.80,807.30,"1,53,98,505",NaN,"3,00,588",SBIN,"12,43,12,53,183.15"
6,NaN,EQ,14-May-2024,808.80,813.00,822.40,807.90,817.90,818.20,815.81,"1,09,12,462",NaN,"2,15,574",SBIN,"8,90,24,78,688.10"
7,NaN,EQ,15-May-2024,818.20,821.00,825.30,818.05,820.70,820.30,821.25,"97,55,062",NaN,"1,84,595",SBIN,"8,01,13,23,408.05"
8,NaN,EQ,16-May-2024,820.30,825.30,826.15,797.35,812.30,811.95,810.77,"2,05,36,990",NaN,"3,98,702",SBIN,"16,65,08,76,495.95"
9,NaN,EQ,17-May-2024,811.95,814.50,822.45,811.20,817.35,817.85,817.69,"1,24,92,509",NaN,"2,38,755",SBIN,"10,21,49,79,481.60"
10,NaN,EQ,18-May-2024,817.85,822.00,823.00,819.20,821.50,821.00,820.96,"9,60,453",NaN,"18,745",SBIN,"78,84,96,867.55"
11,NaN,EQ,21-May-2024,821.00,821.00,836.30,819.60,830.00,830.65,830.06,"1,40,37,801",NaN,"2,99,301",SBIN,"11,65,21,54,522.45"
12,NaN,EQ,22-May-2024,830.65,826.55,826.65,813.55,818.75,818.75,819.27,"1,92,39,277",NaN,"3,03,784",SBIN,"15,76,21,79,196.85"
13,NaN,EQ,23-May-2024,818.75,824.70,835.50,822.00,829.85,832.10,830.11,"1,74,97,488",NaN,"2,97,207",SBIN,"14,52,48,11,082.60"
14,NaN,EQ,24-May-2024,832.10,830.00,841.25,827.00,828.00,828.60,835.17,"1,22,52,075",NaN,"2,36,666",SBIN,"10,23,25,81,868.55"
15,NaN,EQ,27-May-2024,828.60,832.60,839.40,823.00,833.35,833.70,833.52,"1,22,95,193",NaN,"2,19,095",SBIN,"10,24,83,01,213.70"
16,NaN,EQ,28-May-2024,833.70,835.70,840.70,823.30,830.80,831.15,832.45,"1,38,18,893",NaN,"2,06,371",SBIN,"11,50,35,19,499.10"
17,NaN,EQ,29-May-2024,831.15,828.40,834.45,819.30,825.00,822.65,825.29,"1,45,18,232",NaN,"2,43,373",SBIN,"11,98,17,97,386.95"
18,NaN,T0,29-May-2024,831.15,826.00,826.00,826.00,826.00,822.65,826.00,1,NaN,1,SBIN,826.00
19,NaN,EQ,30-May-2024,822.65,821.40,836.00,819.30,828.90,825.85,828.27,"1,78,18,705",NaN,"4,38,243",SBIN,"14,75,86,26,273.60"
20,NaN,EQ,31-May-2024,825.85,830.70,835.00,817.10,832.25,830.35,827.92,"2,22,67,336",NaN,"3,13,614",SBIN,"18,43,55,62,035.65"
21,NaN,EQ,03-Jun-2024,830.35,863.55,912.00,856.75,909.05,905.65,890.20,"6,42,69,020",NaN,"12,42,769",SBIN,"57,21,23,26,883.50"
22,NaN,EQ,04-Jun-2024,905.65,897.00,897.00,731.95,784.60,775.20,803.85,"12,23,81,193",NaN,"19,04,773",SBIN,"98,37,57,60,977.65"

In [39]:
capital_market.equity_list()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1982,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1983,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1984,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1985,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1986,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10

In [ ]:
capital_market.fno_equity_list()

In [41]:
capital_market.india_vix_data(period = '1M')

/opt/anaconda3/lib/python3.11/site-packages/nselib/capital_market/capital_market_data.py:182: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,CLOSE_INDEX_VAL,HIGH_INDEX_VAL,LOW_INDEX_VAL,PREV_CLOSE,VIX_PTS_CHG,VIX_PERC_CHG
0,06-MAY-2024,INDIA VIX,14.6175,16.6000,16.9625,14.6175,14.6175,1.9825,13.562511
1,07-MAY-2024,INDIA VIX,16.6000,17.0075,17.6425,16.6000,16.6000,0.4075,2.454819
2,08-MAY-2024,INDIA VIX,17.0075,17.0800,18.3175,16.4625,17.0075,0.0725,0.426283
3,09-MAY-2024,INDIA VIX,17.0800,18.2000,19.1725,17.0800,17.0800,1.1200,6.557377
4,10-MAY-2024,INDIA VIX,18.2000,18.4725,19.0075,17.9950,18.2000,0.2725,1.497253
5,13-MAY-2024,INDIA VIX,18.4725,20.6000,21.4850,18.4725,18.4725,2.1275,11.517120
6,14-MAY-2024,INDIA VIX,20.6000,20.1950,21.8750,20.1125,20.6000,-0.4050,-1.966019
7,15-MAY-2024,INDIA VIX,20.1950,20.2725,20.6575,19.8700,20.1950,0.0775,0.383758
8,16-MAY-2024,INDIA VIX,20.2725,19.9950,21.1125,18.9650,20.2725,-0.2775,-1.368849
9,17-MAY-2024,INDIA VIX,19.9950,19.7975,20.3675,18.9800,19.9950,-0.1975,-0.987747
10,18-MAY-2024,INDIA VIX,19.7975,20.5250,20.9450,17.3375,19.7975,0.7275,3.674706
11,21-MAY-2024,INDIA VIX,20.5250,21.8100,22.3025,20.5250,20.5250,1.2850,6.260658
12,22-MAY-2024,INDIA VIX,21.8100,21.4675,22.2925,18.1850,21.8100,-0.3425,-1.570381
13,23-MAY-2024,INDIA VIX,21.4675,21.3800,24.2150,18.8400,21.4675,-0.0875,-0.407593
14,24-MAY-2024,INDIA VIX,21.3800,21.7100,21.8975,20.5900,21.3800,0.3300,1.543499
15,27-MAY-2024,INDIA VIX,21.7100,23.1925,26.1950,18.4350,21.7100,1.4825,6.828650
16,28-MAY-2024,INDIA VIX,23.1925,24.1950,24.4750,22.0250,23.1925,1.0025,4.322518
17,29-MAY-2024,INDIA VIX,24.1950,24.1750,24.7725,23.5450,24.1950,-0.0200,-0.082662
18,30-MAY-2024,INDIA VIX,24.1750,24.1750,24.5200,22.7525,24.1750,0.0000,0.000000
19,31-MAY-2024,INDIA VIX,24.1750,24.6025,24.8100,22.5975,24.1750,0.4275,1.768356
20,03-JUN-2024,INDIA VIX,24.6025,20.9375,24.6025,19.1150,24.6025,-3.6650,-14.896860
21,04-JUN-2024,INDIA VIX,20.9375,26.7475,31.7100,18.8025,20.9375,5.8100,27.749254

In [43]:
capital_market.equity_list()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1982,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1983,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1984,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1985,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1986,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10